.animeitems-container {
  width: 100%;
  margin: 1.5rem auto;
  /* height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.card-container {
  background-color: aliceblue;
}
.card {
  padding: 0;
  width: 350px;
  max-height: 450px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: rgba(228, 228, 234, 0.543);
  box-shadow: 2px 2px 2px rgba(102, 99, 99, 0.5);
}
.card-wrapper {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper img {
  width: 100%;
  height: 100%;
}

.figurecaption {
  width: 100%;
  height: 200px;
  padding: 0;
  text-align: center;
}

.figurecaption h3 {
  margin-top: 0;
  line-height: 0.5rem;
}

.figurecaption p {
  line-height: 0.9rem;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 11px;
}
